@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    
}

.btn{
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #111;
    color: #eee;
    border-radius: 7px;

}

.btn:hover{
    cursor: pointer;
    background: #222222be;
    border-radius: 7px;
    transition: 0.9s;
}


.headline{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Navbar */

#navbar {
    width: 100%;
    background: #111111dc;
    color: #eee;
    height: 80px;
    position: fixed;
    z-index: 1;
    
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logo{
    font-size: 2rem;
}


#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    
}

li > a:hover{
    background-color: #9ca6af77;
    padding: 8px;
    transition: 0.8s;
    border-radius: 6px;
}



#navbar-items li {
    padding: 11px;
}


/* Showcase */

#showcase {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('/it-solutions-start/img/showcase.jpg') no-repeat center center/cover;

   /* Overlay */
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
}
#showcase-container h2{
    font-size: 2.5rem;
}
#showcase-container p{
    font-size: 1.2rem;
    padding: 7px 0;
}

/* Clients */

#clients {
    width: 110%;
    background: #eee;
    color: black;
    padding: 50px;
    margin-left: 10px;
}

#clients-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
    

}

.client {
    display: inline-block;
    width: 25%;
}

/* About */

#features{ 
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#features-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Product */

#product {
    width: 100%;
    padding: 50px;
}

#product-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#items{
    width: 650px;
}

#items .item{
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
}

/* Testimonials */

.testimonial {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

#testimonials {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
    
}

#testimonials-container{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.testimonial .testimonial-image{
    height: 220px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
    
}

/* Gallery */

#gallery{
    width: 90%;
    margin: auto;
    padding: 30px;
    transform: translate(-5%);
    
}

#gallery-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    display: auto;
    
}

.gallery-image {
    display: inline-block;
    width: 405px;
    height: 270px;
    border-radius: 6px;
}



/* footer */

#footer {
    background: #222;
    color: #eee;
    padding: 30px;
}